<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM smoke testing suite">
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="Login and Home page tests">
				<classes>
					<class name="com.qa.testcases.LoginPageTest" />
					<class name="com.qa.testcases.HomePageTest" />
					<class name="com.qa.testcases.ContactsPageTest"/>
				</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
